<div class="formulario requisitos-list" ng-repeat="requisito in $ctrl.requisitos track by $index">
  <div ng-if="$ctrl.mode ==='edit'" class="row">
    <div class="form-group col-md-6 col-sm-6 col-xs-8" ng-class="{ 'has-error' : formulario.nombre.$invalid && !formulario.nombre.$pristine, 'has-success': !formulario.nombre.$focused && formulario.nombre.$valid}">

      <div class="row">
          <div class="col-md-12 col-sm-12">
          <label for="nivel">Nombre del requisito <span  class="glyphicon glyphicon-asterisk"></span> :</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11 col-sm-11">
          <input id="inputSuccess2" class="form-control has-success" name="nombre" required autofocus pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ. ]{0,}" aria-describedby="helpBlock2" ng-model="$ctrl.arrayCaracteristicas[$index].nombre" ng-focus="focus=true" ng-blur="focus=false">
        </div>
        <div class="col-md-1 col-sm-1">
          <button id="split-button" type="button" class="btn btn-primary "
          ui-sref="app.caracteristicasDetalle({id:$ctrl.arrayCaracteristicas[$index].id,mode:'edit'})"><span class="glyphicon glyphicon-edit"></span></button>
        </div>
      </div>

    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-8" ng-class="{ 'has-error' : formulario.nombre.$invalid && !formulario.nombre.$pristine, 'has-success': !formulario.nombre.$focused && formulario.nombre.$valid}">
      <div class="row">
          <div class="col-md-12 col-sm-12">
          <label for="nivel">Nivel del requisito <span  class="glyphicon glyphicon-asterisk"></span> :</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11 col-sm-11">
          <input  id="inputSuccess2" class="form-control has-success" name="nivel" required autofocus pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ. ]{0,}" aria-describedby="helpBlock2" ng-model="requisito.nivel" ng-focus="focus=true" ng-blur="focus=false">
        </div>
        <div class="col-md-1 col-sm-1">
          <!--CORREGIR FUNCION UPDATE EN REQUISITOS.JS-->
          <button id="split-button" type="button" class="btn btn-primary"
          ng-click="$ctrl.update(requisito)"><span class="glyphicon glyphicon-edit"></span></button>
        </div>
      </div>
    </div>
  </div>


  <div ng-if="$ctrl.mode ==='view'"class="row">
      <div class="form-group col-md-6 col-sm-6 col-xs-8" ng-class="{ 'has-error' : formulario.nombre.$invalid && !formulario.nombre.$pristine, 'has-success': !formulario.nombre.$focused && formulario.nombre.$valid}">
        <label for="nombre">Nombre del requisito</label>
        <span class="form-control">{{$ctrl.arrayCaracteristicas[$index].nombre}}
        </span>
      </div>
      <div class="form-group col-md-6 col-sm-6 col-xs-8" ng-class="{ 'has-error' : formulario.nombre.$invalid && !formulario.nombre.$pristine, 'has-success': !formulario.nivel.$focused && formulario.nivel.$valid}">
        <label for="nombre">Nivel del requisito</label>
        <span class="form-control">{{requisito.nivel}}</span>
      </div>
  </div>
</div>
